<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="">
    <% if (disable_indexing) { %>
    <meta name="robots" content="noindex">
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700">
    <link href="<%= webPath(`/assets/dist/css/materialdesignicons.min.css`) %>" rel="stylesheet">
    <% if (['sponsor', 'provider', 'validator'].includes(type)) { %>
        <link href="<%= webPath(`/assets/dist/js/summernote.${timestamp}.min.css`) %>" rel="stylesheet">
    <% } %>
    <link rel="shortcut icon" type="image/x-icon" href="<%= favicon %>">
    <title><%= title %></title>
    <base href="<%= base %>">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <% if (env_data?.config?.tag_manager_id) { %>
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=<%= env_data?.config?.tag_manager_id %>"
                height="0"
                width="0"
                style="display:none;visibility:hidden">
            </iframe>
        </noscript>
    <% } %>
    <div id="root"></div>
    <script>const env_data = JSON.parse('<%= JSON.stringify(env_data) %>');</script>
    <% if (env_data?.client_type !== 'website') { %>
        <script type="module">
            import * as pdfjsDist from 'https://cdn.jsdelivr.net/npm/pdfjs-dist@4.2.67';
            pdfjsDist.GlobalWorkerOptions.workerSrc = '//cdnjs.cloudflare.com/ajax/libs/pdf.js/4.2.67/pdf.worker.min.mjs';
            window.pdfjsDist = pdfjsDist;
        </script>
    <% } %>

    <% if (['sponsor', 'provider', 'validator'].includes(type)) { %>
        <script src="<%= webPath(`/assets/dist/js/jquery.${timestamp}.min.js`) %>"></script>
        <script src="<%= webPath(`/assets/dist/js/summernote.${timestamp}.min.js`) %>"></script>
    <% } %>

    <script src="<%= script %>"></script>

    <% if (env_data?.config?.chat_id) { %>
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=<%= env_data?.config?.chat_id %>"></script>
    <% } %>
</body>

</html>