<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <% if (disable_indexing) { %>
    <meta name="robots" content="noindex">
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700">
    <link href="<%= libs.mdi.css %>" rel="stylesheet">
    <link href="<%= libs.summernote.css %>" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="<%= favicon %>">
    <title><%= title %></title>
    <base href="<%= base %>">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script>const env_data = JSON.parse('<%= JSON.stringify(env_data) %>');</script>
    <script type="module">
        import * as pdfjsDist from 'https://cdn.jsdelivr.net/npm/pdfjs-dist@4.2.67';
        pdfjsDist.GlobalWorkerOptions.workerSrc = '//cdnjs.cloudflare.com/ajax/libs/pdf.js/4.2.67/pdf.worker.min.mjs';
        window.pdfjsDist = pdfjsDist;
    </script>
    <script src="<%= libs.jquery.js %>"></script>
    <script src="<%= libs.summernote.js %>"></script>
    <script src="<%= script %>"></script>

    <% if (env_data?.config?.chat_id) { %>
        <script>
            (() => {
                window.$zoho = window.$zoho || {};
                window.$zoho.salesiq = window.$zoho.salesiq || { widgetcode: `<%= env_data?.config?.chat_id %>`, values: {}, ready: function () { } };
                const d = document;
                const s = d.createElement("script");
                s.type = "text/javascript";
                s.id = "zsiqscript";
                s.defer = true;
                s.src = "https://salesiq.zoho.eu/widget";
                const t = d.getElementsByTagName("script")[0];
                t.parentNode.insertBefore(s, t);
                d.write("<div id='zsiqwidget'></div>");
            })();
        </script>
    <% } %>
</body>

</html>